.searchItem{
       border:1px solid lightgray;
       padding: 10px;
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px;
       gap:20px;
       border-radius: 5px;
}
.siImg{
       width: 200px;
       height: 200px;
       object-fit: cover;
}
.siDesc{
       display: flex;
       flex-direction: column;
       gap:10px;
       flex:2;
}
.siDetails{
       flex: 1;
       display: flex;
       justify-content: space-between;
       flex-direction: column; 

}
.siTitle{
       font-size: 20px;
       color:#0071c2;
}
.siDistance{
       font-size: 12px;

}
.siTaxtOp{
       font-size: 12px;
       background-color: #008009;
       width: max-content;
       color:#fff;
       padding: 3px;
       border-radius: 5px;
}
.siSubtitle{
       font-size: 12px;
       font-weight: bold;
}
.siFeatures{
       font-size: 12px;
}
.siCancelOp{
       font-size: 12px;
       color:#008009;
       font-weight: bold;
}
.siCancelOptoitle{
       font-size: 12px;
       color:#008009;
}
.siRating{
       display: flex;
       justify-content: space-between;
}
.siRating>span{
       font-weight: 500;
}
.siRating>button{
     background-color: #003580;
     color:#fff;
     padding: 3px;

     font-weight: bold;
     border: none;

}
.siDetailTexts{
       text-align: right;
       display: flex;
       flex-direction: column;
       gap:5px;
}
.siPrice{
       font-size: 24px;

}
.siTaxOp{
       font-size: 12px;
       color:gray;
}
.siCheckButton{
       background-color: #0071c2;
       color:#fff;
       font-weight: bold;
       padding: 10px 5px;
       border:none;
       border-radius: 10px;
       cursor: pointer;
}