.featured{
       width:100%;
       max-width: 1025px;
       display: flex;
       justify-content: space-between;
       gap: 20px;
       z-index: 1;
       
}
.featuredItem{
       position: relative;
       color: #fff;
       border-radius: 10px;
       overflow: hidden;
       height: 300px;

}
.featuredImg{
       width: 100%;
       object-fit: cover;
}
.featuredTitles{
       position: absolute;
       bottom: 20px;
       left: 20px;
       color:rgb(157, 188, 255)
}